main{
    min-height: 700px; 
}
.card{
    --bs-card-bg: #FEF5ED;
}
.accordion{
    --bs-accordion-bg: #FEF5ED;
}

.mydivv{
    background-image: url(https://i.ibb.co/Rv8Tc9x/pexels-yaroslav-shuraev-8512661-1.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 5px 0px 0px 5px;
}
@media(max-width:768px){
    .mydivv{
        background-image: url(https://i.ibb.co/bvr0Gxw/pexels-yaroslav-shuraev-8514600.jpg);
        background-position: center;
        min-height: 200px;
        border-radius: 5px 5px 0px 0px;
    }
}