main{
    min-height: 700px; 
    padding: 100px 0px;
}


.accordion{
    --bs-accordion-bg: #FEF5ED;
    --bs-accordion-active-bg : #adc2a9cc;
    --bs-accordion-active-color: #FEF5ED;
    --bs-accordion-btn-focus-border-color: #2b2d2f5e;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.myDivMain{
    width: 75%;
}
@media(max-width:768px){
    .myDivMain{
        width: 80%;
    }
}

@media(max-width:500px){
    .myDivMain{
        width: 90%;
    }
}
@media(max-width:400px){
    .myDivMain{
        width: 97%;
    }
}